<div class="nav-container">
  <nav class="navbar navbar-expand-md navbar-light bg-white p-0">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav text-center custom-nav-property ">
        <li class="nav-item" routerLinkActive="active-link">
          <a class="nav-link" href="javascript:void(0)" routerLink="{{ROUTES.firstModule.absoluteRoute}}" >
            <div class="nav-item-title"><strong>First Component</strong></div>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active-link">
          <a class="nav-link" href="javascript:void(0)" routerLink="{{ROUTES.secondModule.absoluteRoute}}">
            <div class="nav-item-title"><strong>Second Component</strong></div>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
